<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Face</title>
</head>
<body>
<h1 align="center">Bookface</h1> 
<h2 align="center">Signup</h2>
<table border='0' width="600" align="center">
	<form action="" method="POST">
  	<tr>
  		<td width="30%">Screen Name :</td>
  		<td width="70%"><input id="txtScreenName" type="text" placeholder="Your preferred Screen Name" name="name" width="450px"></td>
  	</tr>
  	<tr>
	  	<td>Email :</td>
	  	<td><input id="txtMailId" type="text" placeholder="Please enter the Valid Email Address" name="mail" width="450px"></td>
  	</tr>
  	</form>
 </table>
 <div align="center"><button id="sendmail" onclick="sendmail()" >send mail</button></div>
 <script src="main.js"></script>
</body>